@import "styles/variables.scss";
@import "styles/animations.scss";

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__svg {
    path {
      stroke: $color-primary;
      stroke-width: 2;
      animation-name: fillColor;
      animation-duration: 1.75s;
      animation-delay: 2s;
    }
  }
}
