@import "../../styles/variables.scss";

.button {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    border-radius: 2px;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &:hover::before,
  &--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &:active::before {
    background-color: $color-textcolor;
  }

  &__content:link,
  &__content:visited {
    color: $color-textcolor;
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
