@import "./variables.scss";

@keyframes projectOverview {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fillColor {
  0% {
    fill: $color-textcolor;
    fill-opacity: 0;
    scale: 1;
  }

  100% {
    fill: $color-textcolor;
    fill-opacity: 1;
    scale: 2;
  }
}
