// COLORS

$color-primary: #007acc;
$color-primary-light: #007acc;
$color-primary-dark: #015d9b;
$color-primarybg: #061018;
$color-secondarybg: #2f2f2f;
$color-textcolor: #ebebeb;

$color-white: #f7f7f7;
$color-black: #050911;

// FONTS

$font-primary: 'Oxygen', sans-serif;
$font-code: 'Fira Code', sans-serif;
