@import "styles/variables.scss";
@import "styles/mixins.scss";

.about {
  padding: 10rem 0 0;

  @media only screen and (max-width: 120rem) {
    width: 100%;
  }
  &__container {
    @include marginate;
  }

  &__gridContainer {
    display: grid;
    grid-template-columns: minmax(min-content, 70%) minmax(30%, 1fr);
    grid-template-rows: min-content;
    grid-gap: 2rem;

    @include respond(phone-large) {
      grid-template-columns: 100%;
      grid-column: 1/2;
      grid-gap: 6rem;
    }
  }

  &__content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-height: 95%;
    align-self: center;
    object-fit: contain;
    box-shadow: 0 0 1rem transparent;
    border-radius: 0.5rem;
    transition: all 0.4s;

    &Container {
      display: grid;
      place-items: center;

      @include respond(phone-large) {
        max-height: 30rem;
      }
    }

    @include respond(tab-lan) {
      min-height: 30rem;
      max-height: 60%;
    }

    @include respond(tab-port) {
      min-height: 23rem;
      max-height: 50%;
    }

    @include respond(phone-large) {
      max-height: 100%;
      position: static;
      transform: none;
    }

    &:hover {
      box-shadow: 0 0 2rem rgba($color-primary, 0.8);
    }
  }
}

.skills {
  @include marginate;
  padding-top: 10rem;

  &__icons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    @include respond(phone) {
      justify-content: space-around;
    }

    & > span {
      display: block;
      filter: brightness(90%);
      cursor: grab;
      margin: 0 2rem 2rem 0;
      transition: all 0.2s;

      @include respond(phone) {
        margin: 0 2rem 3rem 2rem;
      }

      @include respond(touchscreen) {
        filter: none;
      }

      &:hover {
        filter: brightness(110%) drop-shadow(0 0 1rem $color-primary);
      }
    }
  }
}

.education {
  margin-bottom: 5rem;
}
