@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: $color-primarybg;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba($color-primary, 1);

  &__items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }

  &__list {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
  }

  &__line {
    content: "";
    display: block;
    height: 2px;
    min-width: 7%;
    margin: 0px auto;
    background-color: $color-primary;
    border-radius: 10px;
    @media only screen and (max-width: 450px) {
      min-width: 4%;
    }
    @media only screen and (max-width: 400px) {
      min-width: 2%;
    }
    @media only screen and (max-width: 350px) {
      min-width: 1%;
      margin: 0;
    }
  }
}
